.App {
  text-align: center;
}

.tab-container{
  background-color: blanchedalmond; 
  color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab{
  border: 1px solid brown;
  border-radius: 80px;
  padding: 16px 32px;

}