* {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.tab-container {
  background-color: blanchedalmond;
  color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab {
  border: 1px solid brown;
  border-radius: 80px;
  padding: 16px 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(255, 123, 0);
  height: 56px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons:visited {
  color: rgb(20, 18, 18);
}
.social-icons:active {
  color: rgb(20, 18, 18);
}

#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0% 10% 0% 5%;
  color: rgb(20, 18, 18);
}

#hero-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

#hero-photo {
  border-radius: 10px;
  min-width: inherit;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img:hover .project-img-text {
  visibility: visible;
  height: fit-content;
}

.project-img-text {
  visibility: hidden;
}

.contact-input {
  display: flex;
  justify-content: space-between;
}
#contact-button {
  width: min-content;
  color: teal;
}
